@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #282D35;
    color: white;
}

header {
    background: #21222A;
    display: flex;
    align-items: center;
    padding: 2em;
}

header > h3 {
    margin-left: .5em;
    color: #61DAFB;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.7rem;
    letter-spacing: -0.05em;
}

header > h4 {
    margin-left: auto;
    font-weight: normal;
}

main {
    padding: 2em;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.05em;
}

ul {
    margin-top: 2em;
}

li {
    font-weight: normal;
    letter-spacing: .01em;
    margin-top: 1em;
}

li::marker {
    font-size: 1.5em;
    color: #61DAFB;
}